/* Clean Slate */
body {
    min-height: 100vh;
    display: flex;

    background-color: #f0f0f0;

    justify-content: center;
    align-items: center;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 90%;
    max-width: 400px;
    padding: 1em;

    box-shadow: 0px 0px 10px rgba(0, 0, 0, .3);
    border-radius: 5px;
    background-color: #fff;

    text-align: center;
}

.container h3 {
    margin-bottom: .5em;
}

#message {
    margin-bottom: 1em;
}

.board {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    margin-bottom: 1em;
}

.cell {
    position: relative;
    border: 1px solid #000;
    width: 100%;
    padding-top: 100%;
    cursor: pointer;
}

.cell.not-available {
    cursor: not-allowed;
}

.cell::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    transition: background-color 250ms ease-out;
}

.cell:hover::after {
    background-color: rgba(60, 190, 48, 0.5);
}

.cell.not-available:hover::after {
    background-color: rgba(211, 31, 31, 0.5);
}

.x {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: -4px;
}

.x::before, .x::after {
    position: absolute;
    content: "";
    background-color: #000;
    width: 10%;
    height: 100%;
}

.x::before {
    transform: rotate(45deg);
}

.x::after {
    transform: rotate(-45deg);
}

.o {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.o::before, .o::after {
    border-radius: 50%;
    position: absolute;
    content: "";

    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.o::before {
    width: 85%;
    height: 85%;
    background-color: #000;
}

.o::after {
    background-color: #fff;
    width: 65%;
    height: 65%;
}


/* Result */
#result {
    display: flex;
    opacity: 0;
    z-index: -1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;

    background-color: rgba(9, 118, 190, .9);

    transition: opacity 250ms ease-out;
}

#result.show {
    z-index: 1;
    opacity: 1;
}

#result-message {
    margin-bottom: 1em;
    color: #fff;
}

#new-game-btn {
    padding: 1em 3em;
    border-radius: 5px;

    border: 2px solid #fff;
    background-color: rgba(9, 118, 190, 0);
    cursor: pointer;

    color: #fff;
    font-weight: 700;
    letter-spacing: .05em;

    transition: all 250ms ease-out;
}

#new-game-btn:hover {
    background-color: rgba(255, 255, 255, 1);

    color: #0976be;
}
